.botonAzul{
	color: white;
	background-color: #3366ff;
    display: block;
    margin: auto;
    float:right;
}

h1{
    font-family: "Lato", sans-serif;
    width: 80%;
    text-align: center;
}

h2{
    margin-top: 20%;
    margin-left: 25%;
}

h3{
    font-family: "Lato", sans-serif;
    margin-bottom: 2%;
    margin-top: 20px;
    text-align: center;
}

h4{
	font-family: "Lato", sans-serif;
	margin-bottom: 10%;
    margin-left: 15%;
}

p{
    margin-top: 15px;
    margin-bottom: 10px;
    text-align: center;
}

.header {
    margin-bottom: 0;
    padding: 5px;
    overflow: hidden;
    background-color: #DCDCDC;}

.text--left{
    text-align: left;
}

.text--right{
    text-align: right;
}

button:hover:not(.active) {
    background-color: #111;
}

.centrar {
    background-image: url("./img/bg-masthead.jpg");
    height: 600px;
    opacity: 0.7;
    background-repeat: no-repeat;
    }

.element{
    color: #FFFFFF;
    font-size: 25px;
}

.texto--alineadoder{
    margin-left: 20%;
}

.bh{
    margin-right: 20%;
}

.texto--centrado{
    margin-top:13%;
    margin-left: 15%;
}

.gray{
    background-color: #DCDCDC;
    padding: 4%;
}


.svg-inline--fa{
    margin-top: 20px;
    color:  #3366ff;
    display: block;
    margin: auto;
    padding: 4%;
}

.resize--img{
    width: 100%;
    height: 100%;
    padding: 0px;
}

.columna--imagen{
    margin-top: 5%;
    margin-left: 8%;
    width: 80%;
}

