.botonAzul{
	color: white;
	background-color: #3366ff;
    display: block;
    margin: auto;

}

h1{
    font-family: "Lato", sans-serif;
    width: 80%;
    text-align: center;
}

h3{
	font-family: "Lato", sans-serif;
	margin-bottom: 10%;
    margin-left: 20%;

}

.header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #DCDCDC;}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.centrar {
    background-image: url("./img/bg-masthead.jpg");
    width: 100%;
    height: 1000px;
    padding: 0px;
    opacity: 0.7;
    background-repeat: no-repeat;
    }

.element{
    color: #FFFFFF;
    position: absolute;
    top: 455px;
    left: 150px;
    font-size: 25px;
}


.formulario{
    margin: 5% 0% ;
    padding: 5%;

}

ul {
    list-style-type: none;
    margin-left: 25%;
    padding: 0;
    background-color: #DCDCDC;
}